/* 
Notes:
other colors - 
#ff4d5a; -red
#feda4a; - golen yellow
#ff6; -canary yellow
rgb(75, 213, 238) -robin blue
#4beed0 -close-enough easter turquoise green

Fonts 
'News Cycle", sans-serif;' ex. 1
'Pathway Gothic One', sans-serif; ex. 2
*/

/* Base Styling */
html {
    background-color: black;
    color: #fafafa;
    font-family: montserrat, sans-serif;

    a {
        text-decoration: none;
    }

    h1 {
        color: #4beed0;
        font-size: 2rem;
        margin: 1rem 0;
        text-align: center;
    }

    h2 {
        font-size: 1.25rem;
        margin: 0.25rem 0 1rem 0;
    }

    h3 {
        font-style: italic;
        margin: 1rem 0;
    }
    
    li {
        margin: .25rem 0;
    }

    p {
        line-height: normal;
    }
}

/* Galactic Battles Section */

#hero-section {
        width: 100%;
        height: 100%;
        overflow: hidden;
        background: #000;
    }

    .galactic-battles {
        display: flex;
        justify-content: center;
        height: 800px;
        perspective: 400px;
        color: #feda4a;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 500%;
        font-weight: 600;
        letter-spacing: 6px;
        line-height: 150%;
        text-align: justify;
    }

    .crawl {
        position: relative;
        top: 9999px;
        transform-origin: 50% 100%;
        animation: crawl 60s linear;
    }

    .crawl-title {
        color: #feda4a;
        font-size: 200%;
        text-align: center;
        text-transform: uppercase;
      }
      
    .crawl-title p {
        margin: 0 0 100px;
    }

    .fade {
        position: relative;
        width: 100%;
        min-height: 60vh;
        top: -25px;
        background-image: linear-gradient(0deg, transparent, black 75%);
        z-index: 1;
    }

    @keyframes crawl {
        0% {
          top: 0;
          transform: rotateX(20deg) translateZ(0);
        }
        100% { 
          top: -6000px;
          transform: rotateX(25deg) translateZ(-2500px);
        }
      }

/* End Galactic Battles Section */

.clickable-link a {
    color: #feda4a;

    &:link, &:visited {
        color: #feda4a;
    }

    &:hover {
        color: #ff4d5a;
    }

    &:active {
        color: #4beed0;   
    }
}

.skip-link {
    color: #feda4a;

    &:link, &:visited {
        color: #feda4a;
    }

    &:active {
        color: #4beed0;   
    }
}

.skip-link-section {
    padding: 4rem;
    text-align: right;
    animation: bounce .8s ease infinite alternate;
}

@keyframes bounce {
    0% {
        text-shadow:
                    0 5px 0 #ccc,
                    0 2px 3px rgba(0, 0, 0, 1);  
    }
    100% {
      transform: translateY(-20px);
      text-shadow:  0 50px 0 #000,
                    0 0px 20px rgba(0, 0, 0, .8);
    }
}

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
    position: sticky;
    top: 0;
    background-color: rgba(40, 40, 40, 0.95);
    color: #fafafa;
    padding: 0.75rem 1rem;
}

#nav-bar a {
    padding: 0 0.5rem;
    text-align: center;
}

#nav-bar a {
    color: #fafafa;

    &:link, &:visited {
        color: #fafafa;
    }

    &:hover {
        color: #ff4d5a;
    }

    &:active {
        color: #feda4a;
    }
}

.section {
    padding: 2rem 10%;
}

#home-section {
    text-align: center;
}

#about-content {
    margin: 0 20%;
    text-align: center;
}

#resume-link {
    text-align: center;
}

#resume-link a {
    font-size: 1.25rem;
}

#interests {
    text-align: center;
}

.work-history-item {
    margin-bottom: 2.75rem;
    margin-left: 15%;
    margin-right: 15%;
}

.work-history-item-title {
    font-size: 1.25rem;
}

.work-history-item-subtitle {
    font-style: italic;
    margin: 0.5rem 0 .75rem 0;
}

.work-history-item-last {
    margin-bottom: 0rem;
}

#projects {
    text-align: center;
}

.projects-item {
    margin: 1.5rem 1rem;
}

.projects-item h2 {
    margin: 0.25rem 0;
}

#education {
    text-align: center;
}

.education-item {
    margin-top: 1.5rem;
}

.connect-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: .5rem;
}
.connect-type {
    font-style: italic;
    margin: 0 .75rem 0 0;
}

#footer {
    padding: 1rem 2rem;
    text-align: right;
}